h1,
h3,
h5 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif!important;
}

i {
    font-size: 20px!important;
}

#tetris {
    font-size: 48px!important;
    margin: 20px 0px;
}

#canvas {
    border: #CFD8DC 5px solid;
    border-radius: 5px;
    display: inline;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#canvasWrap {
    text-align: center;
    top: 10px;
    height: 550px;
}

#canvasWrap:focus {
    outline: none;
}

.btnBlock {
    text-align: center;
    z-index: 100;
    position: relative;
    margin-top: 20%;
}

@media (min-width: 979px) {
    .btnBlock {
        margin-top: 13%;
    }
}

#startGameBtn {
    display: inline;
}

#score2Wrap {
    position: relative;
    top: 5px;
    left: 115px;
    color: #9E9E9E;
    /*display: none;*/
}

.alertBox {
    left: 0px;
    right: 0px;
    top: 40%;
    position: absolute;
    margin: 0px auto;
    width: 250px;
    display: none;
}

.alertBox h3 {
    margin: 0px;
}

@media (max-height: 599px) {
    #score2Wrap {
        top: 2px;
        left: 65px;
    }

    .btnBlock {
        margin-top: 13%;
    }

    #canvasWrap {
        height: 370px;
    }
}

.mobileWrap {
    text-align: center;
}

.mobileBtn {
    /*display: inline;*/
    width: 200px;
    margin: 0 auto;
}

#mobileClick_left,
#mobileClick_right,
#mobileClick_up,
#mobileClick_down,
#mobileClick_space,
#mobileClick_left:hover,
#mobileClick_right:hover,
#mobileClick_up:hover,
#mobileClick_down:hover,
#mobileClick_space:hover,
#mobileClick_left:focus,
#mobileClick_right:focus,
#mobileClick_up:focus,
#mobileClick_down:focus,
#mobileClick_space:focus {
    padding-top: 4px;
    height: 30px;
    position: relative;
    top: 15px;
    width: 38px;
    background: white!important;
    outline: none;
    box-shadow: none;
    display: none;
}

@media (max-width:480px) {
    #mobileClick_left,
    #mobileClick_right,
    #mobileClick_up,
    #mobileClick_down,
    #mobileClick_space,
    #mobileClick_left:hover,
    #mobileClick_right:hover,
    #mobileClick_up:hover,
    #mobileClick_down:hover,
    #mobileClick_space:hover,
    #mobileClick_left:focus,
    #mobileClick_right:focus,
    #mobileClick_up:focus,
    #mobileClick_down:focus,
    #mobileClick_space:focus {
        display: inline-block;
        z-index: 10;
    }
}