* {
    font-family: 'Raleway', Helvetica, Arial, sans-serif!important;
}

#tetris {
    font-size: 48px!important;
    margin: 20px 0px;
}

#canvas {
    border: #CFD8DC 5px solid;
    border-radius: 5px;
    display: inline;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#canvasWrap {
    text-align: center;
    top: 10px;
}

#canvasWrap:focus {
    outline: none;
}

.btnBlock {
    text-align: center;
    z-index: 100;
    position: relative;
    margin-top: 20%;
}

@media (min-width: 979px) {
    .btnBlock {
        margin-top: 13%;
    }
}

#startGameBtn {
    display: inline;
}

#score2Wrap {
    position: relative;
    top: 5px;
    left: 115px;
    color: #9E9E9E;
    /*display: none;*/
}

.alertBox {
    left: 0px;
    right: 0px;
    top: 40%;
    position: absolute;
    margin: 0px auto;
    width: 250px;
    display: none;
}

.alertBox h3 {
    margin: 0px;
}

@media (max-height: 599px) {
    #score2Wrap {
        top: 2px;
        left: 65px;
    }
    .btnBlock {
        margin-top: 13%;
    }
}

#mobileClick_left {
    float: left;
    left:0px;
}
#mobileClick_right {
    float: right;
    right:0px;
}
#mobileClick_left, #mobileClick_right {
    height: 100%;
    width:50%;
    position: absolute;
}
@media (max-width:480px) {
    #mobileClick_left, #mobileClick_right {
        z-index: 10;
    }
}